:root{
    --baseColor: #EEEEEE;
    --nonSelectedColor: #ebebeb;
    --nonSubmittedColor: #BBBFCA;
    --selectedColor: #94B49F;
    --submitColor: #377D71;
}

body{
    margin: 0%;
    padding: 0%;
    /*border: none;*/
    color: black;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.container{
    border: none;
    background-color: var(--baseColor);
    border-radius: 5px;
    /*box-shadow: 3px 3px 8px #888888;*/
    display: grid;
    grid-template-columns: repeat(7, 0.5fr);
    align-items: center;
}

.container > a, button{
    background-color: var(--nonSelectedColor);
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
    /*box-shadow: 3px 3px 8px #888888;*/
    text-align: center;
    color: black;
    text-decoration: none;
}

.container .submitBTN {
    background-color: var(--nonSubmittedColor);
    color: #888888;
    border: none;
    cursor: not-allowed;
}


/*ready buttons*/
.container .eaterReady {
    background-color: var(--selectedColor);
}

.container .riderReady{
    background-color: var(--selectedColor);
}

.container .pagoReady{
    background-color: var(--selectedColor);
    border: none;
}

.container .ciudadReady{
    background-color: var(--selectedColor);
    border: none;
}

.container .submitReady {
    background-color: var(--submitColor);
    color: rgb(253, 253, 253);
    cursor: pointer;
}




/*Ciudad button dorpdown menu display*/
.generalBTN {
    border: none;
    display: inline-block;
}


form {
    display: none;
    grid-template-columns: 25px 200px;
    position: absolute;
    z-index: 5;
    background-color: var(--baseColor);
    min-width: 250px;
}

.generalBTN:hover  {
    background-color: var(--selectedColor);
}

.generalBTN:hover form {
    display: grid;
    height: 400px;
    overflow: auto;
    border-radius: 10px;
}

form input{
    display: grid;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    
}

form label{
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: 15px;
    
}

form label:hover{
    background-color: var(--selectedColor);
}

.pagoBTN:hover form {
    display: grid;
    height: 400px;
    overflow: auto;
    border-radius: 10px;
}

.pagoBTNSelected {
    border: none;
    position: relative;
    display: inline-block;
    background-color: var(--selectedColor);
    
}

.pagoBTNSelected:hover form {
    display: grid;
    height: 400px;
    overflow: auto;
    border-radius: 10px;
}

.BinDropDown {
    max-height: 150px;
}

.NotasBTN {
    border: 0px;
}

.TextAreaIN {
    font-size: 18px !important;
    display: none !important;
    position: absolute !important;
    z-index: 5 !important;
}

.NotasBTN:hover {
    background-color: var(--selectedColor);
}

.NotasBTN:hover .TextAreaIN{
    display: flex !important;
}

.generalBTN div {
    border-bottom: 2px solid #888888;
    
}

.generalBTN .regla {
    border-bottom: 0px solid #888888;
}

.subDivNone {
    display: none;
    /* background-color: #b6b6b6; */
    
}

.subDiv {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    line-height: 1.1;
    font-size: 12px;
    background-color: #b6b6b6;
    
}

.subDiv input[type='radio']{
    width: 1.3em;
    height: 1.3em;
    /* align-items: center; */
    font-size: 12px;
    text-align: center;
    
    /* padding-top: 12px; */

}

.monedaDiv:hover {
    cursor: pointer;
    border-radius: 15px;
    background-color: var(--selectedColor);
}